<link rel="stylesheet" href="./styles/battle.css">
<body ng-controller="battleCtrl" class="ng-scope">
<div class= "flexbut">
  <div id="shake2" ng-model = "chosen">
    <div  id="yes-drop" ng-model = "chosen"  class="draggable drag-drop card" >

      <section class="card-details">
        Name: {{chosen[0].name}}
        </br>
        Origin: {{chosen[0].origin}}
        </br>
        hp: {{chosen[0].hp}}
      </section>
      <img class="heroImg" ng-src="{{chosen[0].imageurl}}" alt="">
      </br>
    </div>
  </div>
<div class="flash rainbow" ng-show="!showHide">
  {{attack}}
  </div>

<div id="shake" ng-model = "chosen">
    <div id="yes-drop" ng-model = "chosen"  class="draggable drag-drop card" >
      <section class="card-details">
        Name: {{chosen[1].name}}
        </br>
        Origin: {{chosen[1].origin}}
        </br>
        hp: {{chosen[1].hp}}
      </section>
      <img class="heroImg" ng-src="{{chosen[1].imageurl}}" alt="">
      </br>
    </div>
  </div>
</div>
  <div class="flexbut">
    <container class="P1ab"><h1>P1 Abilities</h1></container>
    <container class="P2ab"><h1>P2 Abilities</h1></container>
  </div>
<div class="flexbut">
 <div class="P1">
  <button ng-click="getPowersBas1(showHide)" ng-disabled="showHide">Basic</button>
  <button ng-click="getPowersUlt1(showHide)" ng-disabled="showHide">Ultimate</button>
</div>
 <div call="P2">
  <button ng-click="getPowersBas2(showHide)" ng-disabled="showHide">Basic</button>
  <button ng-click="getPowersUlt2(showHide)" ng-disabled="showHide">Ultimate</button>
</div>
</div>
<div class="centerBut">
<button ng-show="showHide" ng-click="die({arr: chosen})" ui-sref="death">Finish It!</button>
</div>
</body>
