<link rel="stylesheet" href="./styles/battle.css">
<body ng-controller="battleCtrl" class="ng-scope">

  <div class="card-list" ng-model = "chosen">


    <!-- <div id="yes-drop" class="draggable drag-drop card" ng-if = "!oneHero" >
      <section class="card-details">
        Name: {{hero.name}}
        </br>
        Origin: {{hero.origin}}
        </br>
        Hometown: {{hero.hometown}}
      </section>
      <img class="heroImg" ng-src="{{hero.imageurl}}" alt="">
      </br>
    </div> -->
    <div id="yes-drop" ng-model = "chosen"  class="draggable drag-drop card" >

      <section class="card-details">
        Name: {{chosen[0].name}}
        </br>
        Origin: {{chosen[0].origin}}
        </br>
        Hometown: {{chosen[0].hometown}}
      </section>
      <img class="heroImg" ng-src="{{chosen[0].imageurl}}" alt="">
      </br>
    </div>
  </div>
<div class="card-list" ng-model = "chosen">
    <div id="yes-drop" ng-model = "chosen"  class="draggable drag-drop card" >
      <section class="card-details">
        Name: {{chosen[0].name}}
        </br>
        Origin: {{chosen[0].origin}}
        </br>
        Hometown: {{chosen[0].hometown}}
      </section>
      <img class="heroImg" ng-src="{{chosen[0].imageurl}}" alt="">
      </br>
    </div>
  </div>

<!-- <button ng-click="fight({arr: chosen})" ui-sref="battle">Fight!!!</button> -->

</body>
