<body class="ng-cloak, ng-scope" ng-cloak>
  <button ng-click='getHeroes()'>Select 2 Combatants</button>

<div class="card-list">
  <div class="draggable drag-drop card" ng-if = "!onehero" ng-repeat = "hero in heroes">
    <section class="card-details">
      Name: {{hero.name}}
      </br>
      Origin: {{hero.origin}}
      </br>
      HP: {{hero.hp}}
    </section>
    <img class="heroImg" ng-src="{{hero.imageurl}}" alt="">
    </br>
  </div>
</div>

<div id="outer-dropzone"  class="dropzone">
  #Move Hero to Center
  <div id="inner-dropzone"  class="dropzone">#Drag Hero Here</div>
</div>
<button class="fight" ng-click="fight({arr: chosen})" ui-sref="battle">Fight!</button>

</body>
