<body class="ng-scope">
  <link rel="stylesheet" href="./styles/heroSelect.css">

<button ng-click='getHeroes()'>get heroes</button>
<button ng-click='getHero()'>get hero</button>
<div class="card-list">


  <div id="yes-drop" class="draggable drag-drop card" ng-if = "!oneHero" ng-repeat = "hero in heroes">
    <section class="card-details">
      Name: {{hero.name}}
      </br>
      Origin: {{hero.origin}}
      </br>
      hp: {{hero.hp}}
    </section>
    <img class="heroImg" ng-src="{{hero.imageurl}}" alt="">
    </br>
  </div>

  <div id="yes-drop"  class="draggable drag-drop card" ng-if = "oneHero">
    <section class="card-details">
      Name: {{oneHero.name}}
      </br>
      Origin: {{oneHero.origin}}
      </br>
      hp: {{oneHero.hp}}
    </section>
    <img class="heroImg" ng-src="{{oneHero.imageurl}}" alt="">
    </br>
  </div>
</div>

<div id="outer-dropzone"  class="dropzone">
  #outer-dropzone
  <div id="inner-dropzone"  class="dropzone">#inner-dropzone</div>
</div>
<button ng-click="fight({arr: chosen})" ui-sref="battle">Fight!!!</button>
<!-- <script src=".././dragdrop.js"></script> -->
</body>
