<body class="ng-scope">
  <link rel="stylesheet" href="./styles/heroSelect.css">

<button ng-click='getHeroes()'>Select Combatants</button>
<button ng-click='getHero()'>Select Combatant</button>
<div class="card-list">


  <div class="draggable drag-drop card" ng-if = "!onehero" ng-repeat = "hero in heroes">
    <section class="card-details">
      Name: {{hero.name}}
      </br>
      Origin: {{hero.origin}}
      </br>
      hp: {{hero.hp}}
    </section>
    <img class="heroImg" ng-src="{{hero.imageurl}}" alt="">
    </br>
  </div>

  <div class="draggable drag-drop card" ng-if = "onehero">
    <section class="card-details">
      Name: {{onehero.name}}
      </br>
      Origin: {{onehero.origin}}
      </br>
      hp: {{onehero.hp}}
    </section>
    <img class="heroImg" ng-src="{{onehero.imageurl}}" alt="">
    </br>
  </div>
</div>

<div id="outer-dropzone"  class="dropzone">
  #Move Hero to Center
  <div id="inner-dropzone"  class="dropzone">#Drag Hero Here</div>
</div>
<button class="fight" ng-click="fight({arr: chosen})" ui-sref="battle">Fight!!!</button>
<!-- <script src=".././dragdrop.js"></script> -->
</body>
