,<body>


<div class="birth">

    <h1>Birth a Hero</h1>
    <input ng-model="hero.name" type="text" name="" value="" placeholder="Name">
    <input ng-model="hero.origin" type="text" name="" value="" placeholder="Origin">
    <input ng-model="hero.hometown" type="text" name="" value="" placeholder="Home town">
    <input ng-model="hero.imageurl" type="text" name="" value="" placeholder="Image">
    <button ng-click="create(hero)" class="btn btn-primary"  type="submit" name="button"></button>

</div>
</body>
