*{
  box-sizing: border-box;
}
.card-list{
  display: flex;
}
.card{
  background-color: #adadad;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  margin: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.heroImg{
  max-height: 200px;
}
nav {
  font-size: 27px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vh;
  opacity: 0%; }
