


.card{
  background-color: #adadad;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  margin: 10px;
  height: 300px;
  display: flex;
flex-direction: column;

}

.heroImg{
  max-height: 200px;
  max-width: 200px;
}

  body {

    background-image: url("https://uploads.disquscdn.com/images/356296deeb5f5c10ec5cb4aebd4e2e6d276a207c9bff320b4462a08cfce8dc67.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: black;
    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
}
button {
  background: #ff0000;
  background-image: linear-gradient(top, #496e85, #7bafd1);
  text-decoration: none; }

 .P1 {
   position: relative;
   top: 29em;
 }

 .P2 {
   position: relative;
   top: 29em;
   float: right;
 }
 .P1ab {
   position: relative;
   color: white;
   float: left;
   top: 31em;
   left: 7em
 }
.P2ab {
  position: relative;
  color: white;
  float: right;
  right: 7em;
  top: 31em
}
 .P1Card {
  position: relative;
  float: left;
  top: 4em;
  left: 15em
 }
.P2Card {
 position: relative;
 float: right;
 top: 4em;
 right: 15em
}
