
  body {

    background-image: url("./images/battle.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: black;
    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
}
button {
  background: #ff0000;
  background-image: linear-gradient(top, #496e85, #7bafd1);
  text-decoration: none; }

.flexbut {
  position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    top: 6.5em

}
.P1 {
  display: flex;
  justify-content: center;
  align-items: center;
 }


@media (max-width: 800px){
  body {

    background-image: url("./images/battle.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: black;

    min-height: 100%;
    margin: 0;
}
button {
  background: #ff0000;
  background-image: linear-gradient(top, #496e85, #7bafd1);
  text-decoration: none; }

.flexbut {
  position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    top: 27.6em

}
.P1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
}
