  body {

    background-image: url("./images/battle.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: black;
    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
}
button {
  background: #ff0000;
  background-image: linear-gradient(top, #496e85, #7bafd1);
  text-decoration: none; }

.centerBut {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -7em;
}

.flexbut {
  position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    top: 6.5em

}
.P1 {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 #shake {
   animation-duration: 0.8s
 }

 #shake2 {
   animation-duration: 0.8s
 }

 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }

   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }

   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }

   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .flash {
   font-size: 2.7em;
   position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     top: -5em;
 }

 .rainbow {

   animation: rainbow 2s infinite;
 }

 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
  10%{color: yellow;}
 	20%{color: red;}
 	40%{color: yellow;}
  80%{color: lightgreen}
 	100%{color: yellow;}
 }
 /* Internet Explorer */
 @-ms-keyframes rainbow{
   10%{color: yellow;}
   20%{color: red;}
   40%{color: yellow;}
   80%{color: lightgreen}
   100%{color: yellow;}
 }

 /* Standar Syntax */
 @keyframes rainbow{
   10%{color: yellow;}
   20%{color: red;}
   40%{color: yellow;}
   80%{color: lightgreen}
   100%{color: yellow;}
 }

@media (max-width: 1000px){
  body {

    background-image: url("./images/battle.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: black;

    min-height: 100%;
    margin: 0;
}
button {
  background: #ff0000;
  background-image: linear-gradient(top, #496e85, #7bafd1);
  text-decoration: none; }

.flexbut {
  position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    top: 18em

}
.P1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerBut {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1em;
}
}
