body {

  background-image: url("./images/grave.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: black;
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
}
