.birth {
  position: relative;
  border-radius: 60px;
  text-align: center;
  height: 430px;
  width: 210px;
  background-color: grey
}

.center {
  position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    top: 6.5em

}
