body {

  background-image: url("./images/grave.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: black;
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
}
.centerBut {
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px){

  .centerBut {
    position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 24em
  }
}
