.card-list {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#outer-dropzone {
  height: 400px;
  width: 400px
}

#inner-dropzone {
  height: 350px;
  width: 350px
}

.dropzone {
  background-color: #bbb;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.fight {
  position: relative;
  top: -21em
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
  @media (max-width: 1000px) {
    .fight {
      position: relative;
      top: -5em
    }
    .dropzone {
      background-color: #bbb;
      font-size: 1.7em;
      border: dashed 4px transparent;
      border-radius: 4px;
      margin: 10px auto 30px;
      padding: 10px;
      width: 80%;
      transition: background-color 0.3s;
    }
    #outer-dropzone {
      height: 540px;
      width: 540px
    }

    #inner-dropzone {
      height: 490px;
      width: 490px
    }
  }
