body {

  background-image: url("./images/grave.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: black;
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
}
.centerBut {
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1000px){

  .centerBut {
    position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 19em
  }
  .card{
    padding: 20px;
    width: 275px;
    border-radius: 20px;
    margin: 10px;
    height: 375px;
    display: flex;
    flex-direction: column;
    font-size: 1.9em
  }
  .heroImg{
    max-height: 250px;
    max-width: 230px;
  }
}
