
.card-list{
  display: flex;
}
.card{
  background-color: #adadad;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  margin: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.heroImg{
  max-height: 200px;
}
nav {
  background-color: white;
  font-size: 27px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vh;
  opacity: 0%; }

  body {

  background-image: url("http://deskbg.com/s3/wpp/3/3869/avengers-battle-ground-desktop-background.jpg");
  background-repeat: no-repeat;
  background-size: cover
}
