.card-list{
  display: flex;
}
.card{
  background-color: #adadad;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  margin: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.heroImg{
  max-height: 200px;
}
nav {
  background-color: white;
  font-size: 27px;
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  background: rgb(69,72,77);
  background: linear-gradient(to right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  padding: 0 9.6vw;}

  body {

  background-image: url("http://deskbg.com/s3/wpp/3/3869/avengers-battle-ground-desktop-background.jpg");
  background-repeat: no-repeat;
  background-size: cover
}

.land-nav{
    height: 70px;
    width: 100%;
    background: rgb(69,72,77);
    background: linear-gradient(to right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    padding: 0 9.6vw;
  }
